<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GrusSidan</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GrusSidan.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/png" href="~/images/Namnlöst-1kopiera.webp" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
</head>
<body  style="margin:0; padding: 0; background-image: url('@Url.Content("~/images/texture-2408546_1920.jpg")'); background-size: cover; background-position: center;">
    <header class="p-3 bg-dark text-white" style="font-family: karla;">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
                <!-- Varumärkeslogotyp -->
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img src="~/images/Namnlöst-1kopiera.webp" style="height: 50px; width: auto;" />
                </a>

                <!-- Huvudmeny -->
                <ul class="nav d-flex flex-wrap col-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a class="nav-link px-2" style="color:#E4BB62;" asp-area="" asp-controller="Home" asp-action="Index">Hem</a></li>
                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle px-2" style="color:#E4BB62;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Produkter
                        </a>
                        <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" style="color:#E4BB62;" href="https://localhost:7265/Product/Category?categoryId=1">Sand</a></li>
                            <li><a class="dropdown-item" style="color:#E4BB62;" href="https://localhost:7265/Product/Category?categoryId=2">Sten</a></li>
                            <li><a class="dropdown-item" style="color:#E4BB62;" href="https://localhost:7265/Product/Category?categoryId=3">Grus</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link px-2" style="color:#E4BB62;" asp-area="" asp-controller="OmOss" asp-action="Index">Om oss</a></li>
                    <li><a class="nav-link px-2" style="color:#E4BB62;" asp-area="" asp-controller="Kontakt" asp-action="Index">Kontakt</a></li>
                </ul>

                <!-- Länkar och ikoner -->
                <div class="d-flex align-items-center">
                    <a class="link-headers me-3" href="https://localhost:7265/kundvagn">
                        <img src="~/images/cart-svgrepo-com (3).svg" style="height: 40px; width: auto;" />
                    </a>
                    <ul class="list-unstyled mb-0">
                        <li class="me-3">
                            <a class="link-headers text-white" href="#">
                                <img src="~/images/phone-filled-svgrepo-com.svg" style="height: 20px; width: auto;" class="me-1" />
                                <span class="d-lg-none" style="color:#E4BB62;">0221-12345</span>
                                <span class="d-none d-lg-inline" style="color:#E4BB62;">0221-12345</span>
                            </a>
                        </li>
                        <li>
                            <a class="link-headers text-white" href="#">
                                <img src="~/images/email-svgrepo-com.svg" style="height: 20px; width: auto;" class="me-1" />
                                <span class="d-lg-none" style="color:#E4BB62;">info@grus.se</span>
                                <span class="d-none d-lg-inline" style="color:#E4BB62;">info@grus.se</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>




 
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="footer">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top bg-dark text-white">


            <!-- Huvudmeny -->
            <ul class="nav d-flex flex-wrap col-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a class="nav-link px-2" style="color:#E4BB62;" asp-area="" asp-controller="Home" asp-action="Index">Hem</a></li>
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle px-2" style="color:#E4BB62;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Produkter
                    </a>
                    <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" style="color:#E4BB62;" href="https://localhost:7265/Product/Category?categoryId=1">Sand</a></li>
                        <li><a class="dropdown-item" style="color:#E4BB62;" href="https://localhost:7265/Product/Category?categoryId=2">Sten</a></li>
                        <li><a class="dropdown-item" style="color:#E4BB62;" href="https://localhost:7265/Product/Category?categoryId=3">Grus</a></li>
                    </ul>
                </li>
                <li><a class="nav-link px-2" style="color:#E4BB62;" asp-area="" asp-controller="OmOss" asp-action="Index">Om oss</a></li>
                <li><a class="nav-link px-2" style="color:#E4BB62;" asp-area="" asp-controller="Kontakt" asp-action="Index">Kontakt</a></li>
            </ul>
            <p class="col-md-4 mb-0 text-body-secondary" style="color:#E4BB62; padding-left:10%;">© 2024 Grus Sidan</p>
            <ul class="list-unstyled mb-0">
                <li class="me-3">
                    <a class="link-headers text-white" href="#">
                        <img src="~/images/phone-filled-svgrepo-com.svg" style="height: 20px; width: auto;" class="me-1" />
                        <span class="d-lg-none" style="color:#E4BB62;">0221-12345</span>
                        <span class="d-none d-lg-inline" style="color:#E4BB62;">0221-12345</span>
                    </a>
                </li>
                <li>
                    <a class="link-headers text-white" href="#">
                        <img src="~/images/email-svgrepo-com.svg" style="height: 20px; width: auto;" class="me-1" />
                        <span class="d-lg-none" style="color:#E4BB62;">info@grus.se</span>
                        <span class="d-none d-lg-inline" style="color:#E4BB62;">info@grus.se</span>
                    </a>
                </li>
            </ul>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
