@{
    ViewData["Title"] = "Om oss";
}

<section class="standard-div">
    <h2 class="text-center">Vi på Grus Sidan</h2>
    <img src="~/images/grustagmanniskor.jpg" style="display: block; margin-left: auto; margin-right: auto;  height: auto; width: 80%;" />
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pellentesque dolor eu nibh vulputate tempus. Nulla tempor nunc a lacus mollis scelerisque ac sed risus. Donec ligula odio, finibus a laoreet ut, porta id velit. Donec ut molestie leo. Sed fermentum ipsum orci, vel tincidunt risus euismod ut. In non nunc felis. In eros risus, condimentum id ultricies ut, euismod quis mauris.<br />

        Mauris ut sagittis arcu. Pellentesque quis leo quam. Vivamus eget est tincidunt, consequat ipsum nec, mollis ipsum. Donec sit amet finibus mi. In cursus faucibus erat, at porta ligula blandit non. Proin massa ipsum, fringilla vitae urna ut, venenatis ultricies ante. Sed tincidunt quam at velit convallis sollicitudin. Aenean id lorem nec risus mollis tincidunt vel a lacus. Cras varius neque in ante interdum, volutpat dictum velit placerat. Aliquam egestas mi ex, ac sagittis quam ornare nec. Phasellus nisl tortor, fermentum id lorem ac, accumsan porttitor leo. Cras gravida, dolor vel sagittis gravida, velit nibh sodales erat, eu vulputate ante tortor ac neque.<br />

        Nullam condimentum scelerisque erat, non blandit orci tincidunt ut. Praesent sit amet vulputate mauris. Maecenas orci magna, pretium sed tempus quis, condimentum eget sapien. Nulla nunc eros, semper eu purus et, facilisis gravida felis. In aliquam lacinia diam, sed viverra ex convallis a. Aenean imperdiet risus sed cursus malesuada. Nulla velit ante, scelerisque commodo magna a, aliquet gravida sapien. Nam arcu mi, tincidunt non blandit sit amet, fermentum vel velit. Etiam ac sollicitudin nibh. Sed purus arcu, imperdiet at cursus vitae, dictum in mauris. Duis et tempus mi.<br />

        Sed venenatis lectus eu lorem maximus, at posuere felis vestibulum. Integer tempus orci eget justo convallis porta. Vestibulum sit amet magna ornare, rhoncus quam ac, bibendum ante. Vestibulum laoreet lectus sit amet erat mollis ultrices. Sed vel feugiat ex. Nam eu lacus libero. Proin iaculis lectus dui, quis efficitur mi iaculis nec. Mauris auctor pharetra nibh quis vulputate. Nullam ullamcorper auctor nisl, quis fermentum nibh mollis ac.<br />
    </p>
</section>

<section class="standard-div">
    <h2 class="text-center">Våra medarbetare</h2>
    <div class="d-flex flex-wrap flex-column flex-md-row">
        <section class="flex-fill" style="width:25%;">
            <img src="~/images/worker1.webp" style="display: block; margin-left: 0; height: 100px; width: auto;" />
            <h4>Ravi K</h4>
            <p style="overflow-wrap: break-word;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
            </p>
        </section>

        <section class="flex-fill" style="width:25%;">
            <img src="~/images/worker2.webp" style="display: block; margin-left: 0;  height: 100px; width: auto;" />
            <h4>Lukas H</h4>
            <p style="overflow-wrap: break-word;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
            </p>
        </section>

        <section class="flex-fill" style="width:25%;">
            <img src="~/images/worker3.webp" style="display: block; margin-left: 0;  height: 100px; width: auto;" />
            <h4>Robert S</h4>
            <p style="overflow-wrap: break-word;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
            </p>
        </section>

        <section class="flex-fill" style="width:25%;">
            <img src="~/images/worker4.webp" style="display: block; margin-left: 0;  height: 100px; width: auto;" />
            <h4>Anna B</h4>
            <p style="overflow-wrap: break-word;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
            </p>
        </section>

    </div>

</section>
