@{
    ViewData["Title"] = "Hem";
}

<section class="standard-div">
    <h2 class="text-center">Kategorier</h2>
    <div class="row" style="margin:auto;">
        @foreach (var category in ViewBag.Categories)
        {
            <div class="col-md-3" style="margin:auto;">
                <h3 class="text-center">@category.Name</h3>
                <a asp-area="" asp-controller="Product" asp-action="Category" asp-route-categoryId="@category.CategoryID">
                    <img src="@category.ImageUrl" alt="Sand" style="width: 100%; height: auto;" class="bounce-on-hover">
                </a>
             
                <img id="ikonen" src="~/images/excavator-svgrepo-com.svg" style="display: block; margin-left: auto; margin-right: auto;  height: auto; width: 30%; transition: transform 0.3s ease;" />
                <p>Är du redo att lyfta din utomhusmiljö till nästa nivå? Då är det dags att överväga grus som en nyckelingrediens för att förbättra skönheten och funktionaliteten i ditt utrymme.</p>
                <a href="#" class="standard-button" style="margin:auto;">Läs mer</a>
            </div>
        }
    </div>
</section>

<section class="standard-div">
    <h2 class="text-center">Vi på Grus Sidan</h2>
    <img src="~/images/grustagmanniskor.jpg" style="display: block; margin-left: auto; margin-right: auto;  height: auto; width: 50%;" />
    <p style="text-align: left;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. <a class="nav-link px-2" asp-area="" asp-controller="OmOss" asp-action="Index">Läs mer…</a>
    </p>
</section>




<section class="standard-div">
    <h2 class="text-center">Vanliga frågor och svar</h2>    
<p style="text-align: left; margin:auto;">
        <strong>Fråga:</strong> Vilken är den maximala mängden produkter jag kan köpa åt gången?<br />
        <strong>Svar:</strong>  För att säkerställa att leveransen av våra produkter är optimal och för att undvika eventuella problem med blandning av produkter under leveransen, tillåter vi endast köp av en produkt åt gången. Vi rekommenderar våra kunder att genomföra separata köp för varje produkt de önskar köpa för att säkerställa att varje produkt behandlas individuellt och levereras korrekt. Vi tackar för din förståelse och samarbete.<br />

        <strong>Fråga:</strong> Vilka typer av grus erbjuder ni?<br />
        <strong>Svar:</strong>  Vi erbjuder ett brett utbud av grusprodukter, inklusive krossad sten, makadam, sand och singel.<br />

        <strong>Fråga:</strong> Vilka är leveranstiderna för beställningar?<br />
        <strong>Svar:</strong> Våra leveranstider varierar beroende på plats och produkt. Kontakta oss för mer information om leveranstider i ditt område.<br />

        <strong>Fråga:</strong> Kan jag beställa grus i små mängder?<br />
        <strong>Svar:</strong> Ja, vi erbjuder leverans av grus i både små och stora mängder för att möta våra kunders behov.<br />

        <strong>Fråga:</strong> Vilka är fördelarna med att använda ert grus?<br />
        <strong>Svar:</strong> Vårt grus är av hög kvalitet och lämpar sig för olika ändamål, inklusive byggprojekt, trädgårdsarbete och vägunderhåll. Det är också hållbart och miljövänligt.<br />

        <strong>Fråga:</strong> Hur kan jag kontakta er för ytterligare frågor?<br />
        <strong>Svar:</strong> Du kan kontakta oss genom vårt kontaktformulär på webbplatsen, via telefon eller e-post. Vårt kundsupportteam finns här för att hjälpa till med alla frågor du kan ha.<br />
    </p>
</section>
