@{
    ViewData["Title"] = "Produkter";
}

<section class="standard-div">
    <h2 class="text-center">Vill du hämta på plats?</h2>
    <p class="text-center">
        All betalning på plats sker via <img src="~/images/swish kopiera.webp" style="height: 20px; width:auto;" /> Swish!
    </p>
</section>